$bg-color: #1a2030;
$topbar-bg-color: #ffffff;
$socialbar-bg-color: #444444;
$navbar-bg-color: #000000;
$info-banner-bg-color: #fff4cc;
$button-bg-color: #ff4057;
$button-text-color: #ffffff;
$text-light: #f0f0f0;
$text-medium: #78849e;

$button-accent-red: #ff4057;
$button-accent-darkred: #d32f49;
$button-accent-orange: #ff9f1a;
$error-mesage-color: #ff9f1a;
$button-color: #ffffff;

$logo-color: #ffffff;
$navbar-links-color: #ffffff;
$footer-heart-color: #ff4057;

$icons-color: #f0f0f0;
$text-dark: #000000;
