$bg-color: #1a2030;
$topbar-bg-color: #ffffff;
$socialbar-bg-color: #444444;
$navbar-bg-color: #000000;
$info-banner-bg-color: #fff4cc;
$button-bg-color: #ff4057;
$button-text-color: #ffffff;
$text-light: #f0f0f0;
