@import "src/styles/_variables.scss";

.top-bar {
  width: 100%;
  box-sizing: border-box;
  background-color: $topbar-bg-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  .logo {
    font-size: 20px;
    font-weight: 900;
    text-align: left;

    .author {
      font-size: 12px;
      font-weight: normal;
    }
  }

  .icons {
    display: flex;

    .fa-minus,
    .fa-plus {
      margin: 0 10px;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;

    .logo {
      margin-bottom: 10px;
    }

    .icons {
      .fa-minus,
      .fa-plus {
        margin-left: 0;
        margin-right: 10px;
      }
    }
  }
}
